img{
    display: flex;
    height: 50%;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
  }
  h2{
      text-align: center;
  }
  h3{
      font-size: 30px;
      display: flex;
      position: absolute;
      top: 72%;
      left: 25%;
  }
  ul{
      position: absolute;
      top: 82%;
      left: 25%;
  }
  button{
      position: absolute;
      top: 90%;
      left: 25%;
      padding: 10px 20px;
  }
  